@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "ember-light";
  src: url("../public/fonts/AmazonEmber_Lt.ttf");
}
@font-face {
  font-family: "ember-reg";
  src: url("../public/fonts/AmazonEmber_Rg.ttf");
}
@font-face {
  font-family: "ember-bold";
  src: url("../public/fonts/AmazonEmber_Bd.ttf");
}
